.homepage-hero {
   background: rgb(233, 231, 231) url("../src/images/flowers.jpg");
   height: 75vh;
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
}

@media(max-width:576px) {
   .homepage-hero {
      background: rgb(233, 231, 231);
   }
}

.about {
   background: rgb(233, 231, 231);
}